.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.board {
    font-size: 200%;
}

.grid-table {
    table-layout: fixed;
    box-shadow: 0px 0px 10px 3px black;
}

.tile {
    width: 1em;
    height: 1em;
    -border: 0.01em black solid;
}

.tile-empty {
    background: #f2f2f2;
}

.tile-grass {
    background: #95d697;
}

.tile-shroom {
    background: #f43d3d;
}

.sheep {
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: white;
    box-shadow: 0px 0px 10px 0.1px #888888;
    -border: 0.01em black solid;
}