.board {
    font-size: 200%;
}

.grid-table {
    table-layout: fixed;
}

.tile {
    width: 1em;
    height: 1em;
    border: 0.01em black solid;
}

.tile-empty {
    background: grey;
}

.tile-grass {
    background: green;
}

.tile-shroom {
    brackground: red;
}

.sheep {
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: white;
    border: 0.01em black solid;
}